<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 align="center" class="topcoat-navigation-bar__title">Inserção Turma</h1>

    </div>
</div>
<div>
    <legend>Dados Turma</legend>
    <form role="form" method="POST" action="/schools" enctype="multipart/form-data">
        <div class="form-group">

            <label for="select">Escola a que a turma pertence</label>
            <select class="form-control" id="selectEscola" name="escola">
                <option>Escola1</option>
                <option>Escola2</option>
                <option>Escola3</option>
                <option>Escola4</option>
                <option>Escola5</option>
                <option>Escola6</option>
            </select>
        </div>
        <div class="form-group">
            <label for="select">Grau Escolar:</label>
            <div class="form-control" id="selectAno" name="GrauEscolar">
                <select class="form-control" id="select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
        <label for="InputNome">Nome</label>
        <input type="text" class="form-control" id="InputNome" placeholder="Nome" name="nome">
        <label for="InputAnoLetivo">Ano Letivo</label>
        <input type="number" min="2014" max="2050" class="form-control" id="inputAno" placeholder="4 dígitos" name="Ano letivo">

        <div class="row">
            <div class="col-sm-6">
                <button id="buttonCancelar" type="reset" class="btn btn-lg btn-default btn-block btn-cancel">Cancelar</button>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-lg btn-success btn-block btn-created">Submeter</button>
            </div>
        </div>
    </form>
</div>