<section >
      <div class="globalcontent">
        <div class="topcoat-navigation-bar">
          <div class="topcoat-navigation-bar__item center full">
            <h1 align="center" class="topcoat-navigation-bar__title"><img src="../img/letrinhas2.png" style="height:70px">Letrinhas</h1>

          </div>
        </div>
        <div class="container">
            <div class="row" align="center">
                  <br>

                  <span class="badge btn" style="font-size:18px">App Movel ver. 2.0.1</span>
                  <hr>
                  <span id="irSite" class="badge btn " style="font-size:60px; background-color:#73a839">WebService. 2.0.1</span>

            </div>
            <hr>
            <label>Projeto final de Engª Informática de:</label>
            <br>
            <span>Alexandre Carvalho, aluno nº14922</span>
            <br>
            <span>Artur Gomes, aluno nº17262</span>
            <br>
            <span>Tiago Fernandes, aluno nº17253</span>
            <br>
            <br>
            <label>ESTT-IPT-Tomar 2014/2015</label>
        </div>
       </div>
    <div class="centerEX">
      <div style="margin-left:auto;margin-right:auto;width:75%;">
         <!--img src="../img/logoEscola.PNG" alt="Logo Escola"-->
       </div>


</div>
</section>
