<section >
      <div class="globalcontent">
        <div class="topcoat-navigation-bar">
          <div class="topcoat-navigation-bar__item center full">
            <h1 align="center" class="topcoat-navigation-bar__title">
              <img src="../img/letrinhas2.png" style="height:150px">
              <span class="badge" style="font-size:42px; background-color:#73a839;">Letrinhas2</span>
              <img src="../img/cordova_256.png" style="height:150px">
            </h1>

          </div>
        </div>
        <div class="container">
            <div class="col-sm-12">
              <div class="col-sm-6">
                <span id="app" class="btn btn-block" >
                  <img src="../img/tablets.jpg" style="height:200px">
                  <br>
                  <span class="badge " style="font-size:26px">App Móvel, ver. 2.0.1</span>
                </span>
              </div>
              <div class="col-sm-6">
                <span id="irSite"  class="btn btn-block" >
                  <img src="../img/Computer-globe.png" style="height:200px">
                  <br>
                  <span class="badge" style="font-size:26px; background-color:#73a839">WebService, 2.0.1</span>
                </span>
              </div>
            </div>

            <div class="col-sm-12" style="position:fixed; right:0px; bottom:15px">
              <hr>
              <div class="col-sm-3">
                <label>Projeto final de Engª Informática de:</label>
                <br>
                <span>Alexandre Carvalho, aluno nº14922</span>
                <br>
                <span>Artur Gomes, aluno nº17262</span>
                <br>
                <span>Tiago Fernandes, aluno nº17253</span>
                <br>
                <br>
                <img src="../img/estt.png" style="height:40px">
                <label>ESTT-IPT-Tomar 2014/2015</label>
              </div>
              <div class="col-sm-3">
                <label>Com Apoio de:</label>
                <br>
                <img src="../img/ipt.jpg" style="height:120px">
              </div>
              <div class="col-sm-3">
                <label>Em parceria com:</label>
                <br>
                <img src="../img/ESAG.png" style="height:120px">
              </div>
              <div class="col-sm-3" >
                <label>Orientadores:</label>
                <br>
                <span>Pedro Dias, pedrodias@ipt.pt</span>
                <br>
                <span>António Manso, manso@ipt.pt</span>
                <br>
                <span>Célio Marques, celiomarques@ipt.pt</span>
              </div>
            </div>
        </div>

       </div>

       <!--Modal de escolha do S.O.-->
       <div class="modal fade" id="mApp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h3 class="modal-title"><img src="../img/cordova_256.png"  style="height:65px;" > Selecione a plataforma do Tablet</h3>
             </div>
             <div class="modal-body" style="background-color:#2fa4e7;">
                 <a href="../img/android_platform.png" download>
                   <button class="btn btn-info btn-block">
                     <img src="../img/android_platform.png" style="height:50px">
                     <label style="color:#99cc22; font-size:18px">Android</label>
                   </button>
                 </a>
                 <br>
                 <a href="../img/windows-10-start-menu-logo.png" download>
                   <button class="btn btn-info btn-block">
                     <img src="../img/windows-10-start-menu-logo.png" style="height:50px">
                     <label style="color:#aa55ff; font-size:18px">MS Windows</label>
                   </button>
                 </a>
                 <br>
                 <a href="../img/Apple-logo2.png" download>
                   <button class="btn btn-info btn-block">
                     <img src="../img/Apple-logo2.png" style="height:50px">
                     <label style="color:#aaaacc; font-size:18px">iOS</label>
                   </button>
                 </a>
                 <br>
                 <a href="../img/blackberry.png" download>
                   <button class="btn btn-info btn-block">
                     <img src="../img/blackberry.png" style="height:50px">
                     <label style="color:#aaaacc; font-size:18px">BlackBerry</label>
                   </button>
                 </a>
             </div>
           </div>
         </div>
       </div>

    <!--Modal de Login-->
    <div class="modal fade" id="mLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title"><img src="../img/letrinhas2.png"  style="height:65px;" > Controlo de acesso</h3>
          </div>
          <div class="modal-body" >
            <form role="form" >
                    <div class="form-group">
                        <label for="userEmail">Email: </label>
                        <span id="spEmail" class="alert-warning" style="visibility:hidden">e</span>
                        <input id="userEmail" class="form-control" placeholder="E-mail" name="email" type="email" autofocus autocomplete="on">
                    </div>
                    <div class="form-group">
                      <label for="psswrd">Password: </label>
                      <span id="spPsswd" class="alert-danger" style="visibility:hidden">e</span>
                      <input id="psswrd" class="form-control" placeholder="Password" name="password" type="password" value="">
                    </div>
            </form>
          </div>
          <div class="modal-footer" style="background-color: #53BDDC;">
            <button type="submit" id="buttonEntrar" class="btn btn-lg btn-success btn-block">Entrar</button>
          </div>
        </div>
      </div>
    </div>
</section>
