<section>
      <div class="globalcontent">
        <div class="topcoat-navigation-bar">
          <div class="topcoat-navigation-bar__item center full">
            <h1 align="center" class="topcoat-navigation-bar__title">BackOffice Letrinhas</h1>

          </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Introduza os seus dados de acesso</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                              <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                    </div>
                                   <!-- Change this to a button or input when using this as a form -->
                                    <a id="buttonEntrar" class="btn btn-lg btn-success btn-block">Entrar</a>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
    <div class="centerEX">
      <div style="margin-left:auto;margin-right:auto;width:75%;">
         <img src="../img/logoEscola.PNG" alt="Logo Escola">
       </div>


</div>
</section>
