<div class="alert-warning" >
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Letrinhas</a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="manSair" role="button">Voltar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <div class="text-center">
      <div class="alert-warning">
        <h4 >Esta página está de momento indísponivel, estamos a trabalhar para que esta esteja pronta o mais breve possível.</h4>
        <br>
        <span>Para quaisquer esclarecimento ou urgência, é favor de contactar os criadores do site:</span>
        <br>
        <span>Alexandre Carvalho, axcs90@gmail.com</span>
        <br>
        <span>Artur Gomes, artur.s.gomes@gmail.com</span>
        <br>
        <span>Tiago Fernandes, thiago_f@aeiou.pt</span>
      </div>
      <br>
      <img src="../img/inConstruction.jpg">
    </div>
</div>
