<!-- Inserção Pergunta do tipo Texto: -->
<div class="topcoat-navigation-bar">
  <div class="topcoat-navigation-bar__item center full">
    <h3 align="center" class="topcoat-navigation-bar__title">
      <img src="../img/letrinhas2.png" style="height:40px">
      <img src="../img/testLista.png"  style="height:40px;" >
      Criar Teste Lista de Palavras
    </h3>
  </div>
</div>

<div>
  <form id="listNewForm" role="form" method="POST" action="/questions" enctype="multipart/form-data">

    <div class="form-group">
      <div class="col-sm-4">
        <label for="InputTitulo" >Título:</label>
        <input type="text" class="form-control preenche" id="InputTitulo" placeholder="Ex: Anita vai ao médico" name="titulo" style="background-color:#e9e9ff;">
      </div>
      <div class="col-sm-2">
        <label for="selectDiscip">Disciplina:</label>
        <select class="form-control" id="selectDiscip" name="disciplina" style="background-color:#e9e9ff;">
          <optgroup label="Linguas">
          <option>Português</option>
          <option>Inglês</option>
          <option>Outra língua</option>
          <optgroup label="Outras">
          <option>Matemática</option>
          <option>Estudo do Meio</option>
          <option>Outra</option>
        </select>
      </div>
      <div class="col-sm-2">
        <label for="selectAno">AnoEscolar:</label>
        <select class="form-control" id="selectAno" name="ano_escolar" style="background-color:#e9e9ff;">
          <optgroup label="1º Ciclo do Ensino Básico">
            <option>1º</option>
            <option>2º</option>
            <option>3º</option>
            <option>4º</option>
          <optgroup label="2º Ciclo Ensino Básico">
            <option>5º</option>
            <option>6º</option>
          <optgroup label="3º Ciclo Ensino Básico">
            <option>7º</option>
            <option>8º</option>
            <option>9º</option>
          <optgroup label="Ensino Secundário">
            <option>10º</option>
            <option>11º</option>
            <option>12º</option>
        </select>
      </div>
      <div class="col-sm-12">
        <hr>
        <label for="InputDescricao" >Descrição:</label>
        <input type="text" class="form-control preenche" id="InputDescricao" placeholder="Ex: Teste de apoio para alunos com dificuldades de leitura" name="descricao" style="background-color:#e9e9ff;">
        <br>
      </div>

      <div class="col-sm-12">
        <label for="InputPergunta" >Pergunta:</label>
        <input type="text" class="form-control preenche" id="InputPergunta" placeholder="Ex: Leia as palavras..." name="pergunta" style="background-color:#e9e9ff;">
        <br>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="col1">Coluna 1:</label>
          <textarea class="form-control preenche" rows="10" id="col1" name="cl1" style="background-color:#e9e9ff;"></textarea>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="col2">Coluna 2:</label>
          <textarea class="form-control" rows="10" id="col2" name="cl2" style="background-color:#e9e9ff;"></textarea>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="col3">Coluna 3:</label>
          <textarea class="form-control" rows="10" id="col3" name="cl3" style="background-color:#e9e9ff;"></textarea>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputSom" >Gravação de Demonstração:</label>
          <input class="preenche" type="file" id="inputFoto" accept="audio/mp3" name="file">
        </div>
      </div>

      <div id="painelInvisivel" class="form-group  col-sm-4" style="visibility:hidden">
        <div class="col-sm-2" >
          <select class="form-control" id="selectEstado" name="estado">
            <option>1</option>
            <option>0</option>
          </select>
        </div>
        <div class="col-sm-2">
          <select class="form-control" id="selectTipo" name="tipo">
            <option>Lista</option>
          </select>

        </div>
      </div>
      <div class="col-sm-4" style="position:fixed; right:53px; bottom:15px">

          <div class="col-sm-6">
            <button id="buttonCancelar" type="reset" class="btn btn-lg btn-default btn-block btn-cancel">Cancelar</button>
          </div>
          <div class="col-sm-6">
            <button id="subList" type="submit" class="btn btn-lg btn-success btn-block btn-created" disabled>Submeter</button>
          </div>

      </div>


      <div class="col-sm-10" style="">
      </div>

    </div>



</form>
<!--  -->
</div>
