<!-- Inserção Pergunta do tipo Texto: -->
<div class="topcoat-navigation-bar">
  <div class="topcoat-navigation-bar__item center full">
    <h3 align="center" class="topcoat-navigation-bar__title">
      <img src="../img/letrinhas2.png" style="height:40px">
      <img src="../img/testLista.png"  style="height:40px;" >
      Criar Teste Lista de Palavras
    </h3>
  </div>
</div>

<div>
  <form id="listNewForm" role="form" method="POST" action="/questions" enctype="multipart/form-data">

    <div class="form-group">
      <div class="col-sm-4">
        <label for="InputTitulo" >Título:</label>
        <input type="text" class="form-control preenche" id="InputTitulo" placeholder="Ex: Anita vai ao médico" name="titulo" style="background-color:#e9e9ff;">
      </div>
      <div class="col-sm-2">
        <label for="selectDiscip">Disciplina:</label>
        <select class="form-control" id="selectDiscip" name="disciplina" style="background-color:#e9e9ff;">
          <optgroup label="Linguas">
          <option>Português</option>
          <option>Inglês</option>
          <option>Outra língua</option>
          <optgroup label="Outras">
          <option>Matemática</option>
          <option>Estudo do Meio</option>
          <option>Outra</option>
        </select>
      </div>
      <div class="col-sm-2">
        <label for="selectAno">Ano Escolar:</label>
        <select class="form-control" id="selectAno" name="ano_escolar" style="background-color:#e9e9ff;">
          <optgroup label="1º Ciclo do Ensino Básico">
            <option>1º</option>
            <option>2º</option>
            <option>3º</option>
            <option>4º</option>
          <optgroup label="2º Ciclo Ensino Básico">
            <option>5º</option>
            <option>6º</option>
          <optgroup label="3º Ciclo Ensino Básico">
            <option>7º</option>
            <option>8º</option>
            <option>9º</option>
          <optgroup label="Ensino Secundário">
            <option>10º</option>
            <option>11º</option>
            <option>12º</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="inputSom" >Gravação de Demonstração:</label>
        <div class="col-sm-9">
          <input class="preenche form-control" type="file" id="inputSom" accept="audio/mp3" name="file">
        </div>
        <div class="col-sm-3" style="vertical-align:bottom">

          <button id="lstGrava" class="btn btn-sm btn-default" >
            <span class="glyphicon glyphicon-record" style="color:#ff0000"></span>
            <br>
            Gravar
          </button>

        </div>
      </div>

      <div class="col-sm-12">
        <hr>
        <label for="InputDescricao" >Descrição:</label>
        <input type="text" class="form-control preenche" id="InputDescricao" placeholder="Ex: Teste de apoio para alunos com dificuldades de leitura" name="descricao" style="background-color:#e9e9ff;">
        <br>
      </div>

      <div class="col-sm-12">
        <label for="InputPergunta" >Pergunta:</label>
        <input type="text" class="form-control preenche" id="InputPergunta" placeholder="Ex: Leia as palavras..." name="pergunta" style="background-color:#e9e9ff;">
        <br>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="col1">Coluna 1:</label>
          <textarea class="form-control preenche" rows="10" id="col1" name="cl1" style="background-color:#e9e9ff;"></textarea>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="col2">Coluna 2:</label>
          <textarea class="form-control" rows="10" id="col2" name="cl2" style="background-color:#e9e9ff;"></textarea>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="col3">Coluna 3:</label>
          <textarea class="form-control" rows="10" id="col3" name="cl3" style="background-color:#e9e9ff;"></textarea>
        </div>
      </div>




      <div id="painelInvisivel" class="form-group  col-sm-4" style="visibility:hidden">
        <div class="col-sm-2" >
          <select class="form-control" id="selectEstado" name="estado">
            <option>1</option>
          </select>
        </div>
        <div class="col-sm-2">
          <select class="form-control" id="selectTipo" name="tipo">
            <option>Lista</option>
          </select>

        </div>
      </div>
      <div class="col-sm-4" style="position:fixed; right:53px; bottom:15px">

          <div class="col-sm-6">
            <button id="buttonCancelar" type="reset" class="btn btn-lg btn-default btn-block btn-cancel">Cancelar</button>
          </div>
          <div class="col-sm-6">
            <button id="subList" type="submit" class="btn btn-lg btn-success btn-block btn-created" disabled>Submeter</button>
          </div>

      </div>


      <div class="col-sm-10" style="">
      </div>

    </div>



</form>

<!-- MODAL para apresentar o equalizador para gravar o som -->
<div class="modal fade" id="myModalListRecord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove-sign" style="color:#ee3030"></span></button>
        <h3 class="modal-title" id="myModalLabel">
          <img src="../img/letrinhas2.png" style="height:40px">
          <img src="../img/audio_file.png"  style="height:40px;" >
          Estudio de som:
        </h3>
      </div>
      <div class="modal-body" style="height:550px; background-color:#ddeeff">
         <div class="col-md-12" align=center>
            <div id="viz">
              <canvas id="analyser" width="525" height="100" style="display: inline-block;
                                                                     background: #202020;
                                                                     box-shadow: 0px 0px 10px blue;" >
              </canvas>

              <canvas id="wavedisplay" width="525" height="100" style="display: inline-block;
           		                                                       background: #202020;
           		                                                       box-shadow: 0px 0px 10px blue;" >
              </canvas>
           	</div>
           	<div id="controls">
           		<span  id="record" class="btn badge btn-primary" style="font-size:16px" value=0>
                 <span class="glyphicon glyphicon-record" style="color:#ee0000"></span>
                 Gravar
              </span>
               <audio id="Rplayer" controls class="players" style="visibility:hidden;width:60%">
                 <source  src="" type="audio/wave">
               </audio>
               <a id="save" class="btn badge btn-info" style="visibility:hidden;color:#ffffff" disabled>
                 <span class="glyphicon glyphicon-download-alt" style="color:#00ee00" ></span>
                 Download
              </a>
           	</div>
         </div>

         <div class="col-sm-4" id="cl1" align=center style="height:270px; overflow:auto; background-color:#ecdcbc">
         </div>
         <div class="col-sm-4" id="cl2" align=center style="height:270px; overflow:auto; background-color:#cdecbc">
         </div>
         <div class="col-sm-4" id="cl3" align=center style="height:270px; overflow:auto; background-color:#ecdcbc">
         </div>

      </div>

    </div>
  </div>
</div>
<!--  -->
</div>
