<!-- Inserção Pergunta do tipo Texto: -->
<div class="topcoat-navigation-bar">
  <div class="topcoat-navigation-bar__item center ">
    <h3 align="center" class="topcoat-navigation-bar__title">Criar Teste de Texto</h3>
  </div>

</div>

<div>
  <!--  -->
  <form id="txtNewForm" role="form" method="POST" action="/questions" enctype="multipart/form-data">

    <div class="form-group">
      <div class="col-sm-4">
        <label for="InputTitulo" >Título:</label>
        <input type="text" class="form-control preenche" id="InputTitulo" placeholder="Ex: Anita vai às compras" name="titulo">
      </div>
      <div class="col-sm-2">
        <label for="selectDiscip">Disciplina:</label>
        <select class="form-control" id="selectDiscip" name="disciplina">
          <option>Português</option>
          <option>Inglês</option>
          <option>Matemática</option>
          <option>Estudo do Meio</option>
        </select>
      </div>
      <div class="col-sm-1">
        <label for="selectAno">AnoEscolar:</label>
        <select class="form-control" id="selectDiscip" name="ano_escolar">
          <option>1º</option>
          <option>2º</option>
          <option>3º</option>
          <option>4º</option>
        </select>
      </div>

      <div class="col-sm-12">
        <hr>
        <label for="InputDescricao" >Descrição:</label>
        <input type="text" class="form-control preenche" id="InputDescricao" placeholder="Ex: Teste de apoio para alunos con dificuldades de leitura" name="descricao">
        <br>
      </div>

      <div class="col-sm-12">
        <label for="InputPergunta" >Pergunta:</label>
        <input type="text" class="form-control preenche" id="InputPergunta" placeholder="Ex: Leia o segunte texto" name="pergunta">
      </div>

      <div class="col-sm-12">
        <label for="InputTexto">Texto</label>
        <textarea class="form-control preenche" rows="10" id="InputTexto" name="texto"></textarea>
        <div class="form-group">
          <label for="inputSom" >Gravação de Demonstração:</label>
          <input class="preenche" type="file" id="inputFoto" name="file">
        </div>



      </div>
      <div id="painelInvisivel" class="form-group  col-sm-8" style="visibility:hidden">
        <div class="col-sm-4" >
          estado
          <select class="form-control" id="selectEstado" name="estado">
            <option>1</option>
            <option>0</option>
          </select>
        </div>
        <div class="col-sm-4" >

          tipo
          <select class="form-control" id="selectTipo" name="tipo">
            <option>Texto</option>
          </select>

        </div>

      </div>
      <div class="col-sm-4" >
        <div class="row">
          <div class="col-sm-6">
            <button id="buttonCancelar" type="reset" class="btn btn-lg btn-default btn-block btn-cancel">Cancelar</button>
          </div>
          <div class="col-sm-6">
            <button id="subProf" type="submit" class="btn btn-lg btn-success btn-block btn-created" disabled>Submeter</button>
          </div>
        </div>
      </div>


      <div class="col-sm-10" style="">
      </div>



    </div>




</form>
<!--  -->
</div>
