<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" aria-expanded="false" href="/#">
          <span>
            <img src="../img/letrinhas2.png" style='height:32px;'title="Projeto final de Engª Informática de:
            Alexandre Carvalho, aluno nº14922
            Artur Gomes, aluno nº17262
            Tiago Fernandes, aluno nº17253

            ESTT-IPT-Tomar 2014/2015">
          </span>
          <label title="Pagina inicial">Letrinhas</label>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
              <a href="#tests" aria-expanded="false" title="Ver testes">
                <img src="../img/testeTexto.png" style='height:32px;'>
                Testes
              </a>
          </li>
          <li>
              <a href="#teachers" aria-expanded="false" title="Ver funcionários">
                <img src="../img/docentes.png" style='height:32px;'>
                Professor/es
              </a>
          </li>
          <li>
              <a href="#schools" style="color: #80FF80;" aria-expanded="false">
                <img src="../img/escola1.png" style='height:32px;'>
                Escolas
              </a>
          </li>
          <li>
              <a href="#students" aria-expanded="false"  title="Ver alunos">
                <img src="../img/alunos.png" style='height:32px;'>
                Alunos
              </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#MenuPrincipal" aria-expanded="false" role="button" title="Voltar ao menu principal">
              voltar
              <img src="../img/voltar.png" style='height:32px;'>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
   <div id="schoolsPanel" class="panel panel-default col-md-2" align="center">
    <div class="panel-body " text-align="center" style="height:600px;">
      <div >Escolas: <span id="schoolsBadge"class="badge"></span>
      </div>
      <hr>

      <div >
        <input id="escolaProcurar" type="texto" class="form-control" placeholder="Procurar">
      </div>
      <hr>

      <br>
      <button id="btnSchoolNew" class="btn btn-success" style="font-size:12px"><span class="glyphicon glyphicon-plus" style="color:#00ff00;"></span>
        Nova Escola
      </button>
    </div>
  </div>
  <div id="schoolsContent" class=" panel-body col-md-5" align=center style="max-height:600px; overflow:auto">
    <img src="../img/page-loader.gif" style='height:200px;'>

  </div>
  <div id="schoolsPreview" class="col-md-5" align="center" style="">

  </div>


    <!-- MODAL para apresentar a constituição da turma -->
    <div class="modal fade" id="myModalTurma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove-sign" style="color:#ee3030"></span></button>
            <h4 class="modal-title" id="myModalLabel">
            </h4>
          </div>
          <div class="modal-body" style="height:550px">
             <div class="col-md-12">
               <label>Professores:</label>
             </div>
             <div id="classProfessor" align=center class="col-md-12" style="max-height:120px; overflow:auto;">

             </div>
             <div class="col-md-12">
               <hr>
               <label>Alunos:</label>
             </div>
             <div id="classAlunos" align=center class="col-md-12" style="max-height:320px; overflow:auto;">

             </div>

          </div>

        </div>
      </div>
    </div>
    <!-- ########################################### -->


    <div class="col-sm-1" style="position:fixed; left:0px; top:15px;">
      <img src="../img/estt.png" style="height:40px">
    </div>
    

</div>
