<div>
  <nav class="navbar navbar-default ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" aria-expanded="false">
          <span>
            <img src="../img/letrinhas2.png" style='height:32px;'>
          </span>
          Letrinhas
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
              <a href="#tests" aria-expanded="false">
                <img src="../img/testeTexto.png" style='height:32px;'>
                Testes
              </a>
          </li>
          <li>
              <a href="#submissions" aria-expanded="false">
                <img src="../img/resultados.png" style='height:32px;'>
                Resoluções
              </a>
          </li>
          <li>
              <a href="#teachers" aria-expanded="false">
                <img src="../img/docentes.png" style='height:32px;'>
                Professores
              </a>
          </li>
          <li>
              <a href="#schools" aria-expanded="false">
                <img src="../img/escola1.png" style='height:32px;'>
                Escolas
              </a>
          </li>
          <li>
              <a href="#students" style="color: #80FF80;" aria-expanded="false">
                <img src="../img/alunos.png" style='height:32px;'>
                Alunos
              </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#MenuPrincipal" aria-expanded="false" role="button">
              voltar
              <img src="../img/voltar.png" style='height:32px;'>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  <div id="studentPanel" class="panel panel-default col-md-2" align="center">
    <div class="panel-body " text-align="center" style="height:600px;">
      <div >Alunos: <span id="studentsBadge"class="badge"></span>
      </div>
      <hr>
      <div >
        <input id="alunoProcurar" type="texto" class="pesqui-control" placeholder="Procurar">
        <span id="btnProcura" class="badge btn" ><span class="glyphicon glyphicon-search"></span></span>
      </div>
      <hr>
      <span>
        <span class="glyphicon glyphicon-filter"></span>
        Filtrar por:
        <img src="../img/inConstruction.jpg" style='height:25px;'>
      </span>

      <!-- Split button -->
      <div class="btn-group" >
        <button type="button" class="btn btn" style="width:100px">Escola</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">

          <li><a href="#">Escola xpto</a></li>

        </ul>
      </div>
      <br>
        <br>
        <div class="btn-group" >
        <button type="button" class="btn btn" style="width:100px">Turma</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">

          <li><a href="#">Turma xpto</a></li>

        </ul>



      </div>


      <div>
      </div>


      <hr>

      <button id="btnStudentsNew" class="btn btn-success" style="font-size:12px">
        <span class="glyphicon glyphicon-plus" style="color:#00ff00;"></span>
        Novo Aluno
      </button>
    </div>
  </div>
  <div id="studentsContent" class=" panel-body col-md-5" align=center style="max-height:600px; overflow:auto">
    <img src="../img/page-loader.gif" style='height:200px;'>

  </div>
  <div id="studentsPreview" class="col-md-5" align="center" style="">

  </div>
</div>
