<div class="topcoat-navigation-bar">
  <div class="topcoat-navigation-bar__item center full">
    <h1 align="center" class="topcoat-navigation-bar__title">Registar Aluno</h1>
  </div>
</div>
<div>
  <legend>Dados do Aluno:</legend>
  <form role="form" method="POST" action="/students" enctype="multipart/form-data">
    <div class="form-group">
      <div class="col-sm-6">
        <div class="col-sm-12">
          <label for="InputNome" >Nome:</label>
          <input type="text" class="form-control preenche" id="InputNome" placeholder="Ex: Tiago Fernandes" name="nome">
        </div>
        <div class="col-sm-4">
          <br>
          <label for="InputNrAluno" >Número de Aluno:</label>
          <input type="number" class="form-control preenche" id="InputNrAluno" placeholder="Ex: 17253" name="numero">
        </div>
        <div class="col-sm-8" id="selectEscola">
          <br>
          <label for="selectTurma" >Turma que o aluno frequenta:</label>
          <select class="form-control preenche" id="selectTurma"></select>
        </div>
      </div>

      <div class="col-sm-3" style="height:300px;">
        <label for="inputFoto">Foto:</label>
        <input type="file" class="form-control preenche" id="inputFoto" name="file">
        <br>
        <img id="iFoto" style="display:none" src="../img/inConstruction.jpg">
      </div>

      <input type="text" id="hidenIDTurma" class="form-control preenche" name='turma'style="display:none">
      <select class="form-control" id="hidenTurma" style="display:none"></select>

      <div class="col-sm-4" style="position:fixed; right:53px; bottom:15px">
        <div class="col-sm-6">
          <button id="buttonCancelar" type="reset" class="btn btn-lg btn-default btn-block btn-cancel">Cancelar</button>
        </div>
        <div class="col-sm-6">
          <button id="subAluno" type="submit" class="btn btn-lg btn-success btn-block btn-created" disabled>Submeter</button>
        </div>
      </div>
    </div>
  </form>
</div>
