
<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 align="center" class="topcoat-navigation-bar__title">Inserção Aluno</h1>

    </div>
</div>
<div>
    <legend>Dados Aluno</legend>
    <form role="form" method="POST" action="/students" enctype="multipart/form-data">
        <div class="form-group">
            <label for="InputNome">Nome</label>
            <input type="text" class="form-control" id="InputNome" placeholder="Nome" name="nome">
            <label for="InputNrAluno">Número de Aluno</label>
            <input type="number" class="form-control" id="InputNrAluno" placeholder="Numero" name="numero">

            
            <div class="form-group">
                <label for="file">Foto:</label>
                <input type="file" id="InputFile" name="file">
            </div>

            <label for="select">Estado</label>
            <select class="form-control" id="select" name="estado">
                <option>Ativo</option>
                <option>Não Ativo</option>
            </select>

            <label for="select">Escola que o aluno frequenta</label>
            <select class="form-control" id="selectEscola">
                
            </select>
            
            <select class="form-control" id="selectIDEscola" name="escola" style="display: none">
            </select>

            <label for="select">Ano que o Aluno frequenta</label>
            <select class="form-control" id="selectAno" name="Ano">
                <option>1º</option>
                <option>2º</option>
                <option>3º</option>
                <option>4º</option>
            </select>

            <label for="select">Turma do aluno</label>
            <select class="form-control" id="selectTurma" name="turma">
                
            </select>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <button id="buttonCancelar" type="reset" class="btn btn-lg btn-default btn-block btn-cancel">Cancelar</button>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-lg btn-success btn-block btn-created">Submeter</button>
            </div>
        </div>
    </form>
</div>