<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" aria-expanded="false">
          <span>
            <img src="../img/letrinhas2.png" style='height:32px;'title="Projeto final de Engª Informática de:
            Alexandre Carvalho, aluno nº14922
            Artur Gomes, aluno nº17262
            Tiago Fernandes, aluno nº17253

            ESTT-IPT-Tomar 2014/2015">
          </span>
          Letrinhas
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
              <a href="#tests" aria-expanded="false">
                <img src="../img/testeTexto.png" style='height:32px;'>
                Testes
              </a>
          </li>
          <li>
              <a href="#submissions" style="color: #80FF80;" aria-expanded="false">
                <img src="../img/resultados.png" style='height:32px;'>
                Resoluções
              </a>
          </li>
          <li>
              <a href="#teachers" aria-expanded="false">
                <img src="../img/docentes.png" style='height:32px;'>
                Professores
              </a>
          </li>
          <li>
              <a href="#schools" aria-expanded="false">
                <img src="../img/escola1.png" style='height:32px;'>
                Escolas
              </a>
          </li>
          <li>
              <a href="#students" aria-expanded="false">
                <img src="../img/alunos.png" style='height:32px;'>
                Alunos
              </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#MenuPrincipal" aria-expanded="false" role="button">
              voltar
              <img src="../img/voltar.png" style='height:32px;'>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  <div id="submitContent">

    <div class="text-center">
      <div class="alert-warning">
        <h4 >Esta página está de momento indísponivel, estamos a trabalhar para que esta esteja pronta o mais breve possível.</h4>
        <br>
        <span>Para quaisquer esclarecimento ou urgência, é favor de contactar os criadores do site:</span>
        <br>
        <span>Alexandre Carvalho, axcs90@gmail.com</span>
        <br>
        <span>Artur Gomes, artur.s.gomes@gmail.com</span>
        <br>
        <span>Tiago Fernandes, thiago_f@aeiou.pt</span>
      </div>
      <br>
      <img src="../img/inConstruction.jpg">
    </div>



  </div>
</div>
