<!-- Inserção Professor inicial: -->
<div class="topcoat-navigation-bar">
  <div class="topcoat-navigation-bar__item center full">
    <h1 align="center" class="topcoat-navigation-bar__title">Registar Utilizador</h1>
  </div>
</div>
<div>
    <legend>Dados do Funcionário</legend>
  <!---->
  <form role="form" method="POST" action="/teachers" enctype="multipart/form-data">
  <!---->
    <div class="form-group">
      <label for="InputNome" >Nome</label>
      <input type="text" class="form-control" id="InputNome" placeholder="Nome" name="nome">
      <label for="InputEmail">Email</label>
      <input type="email" class="form-control" id="InputEmail" placeholder="Email" name="email">
      <label for="InputPasswd">Password</label>
      <input type="text" class="form-control" id="InputPasswd" placeholder="Password" name="password">
      <label for="InputPin">Pin</label>
      <input type="number" min="0000" max="9999" class="form-control" id="inputPin" placeholder="4 dígitos" name="pin">
      <span class="help-block">(acesso aplicação móvel) </span>
      <label for="InputTelefone">Telefone</label>
      <input type="number" min="0" max="999999999" class="form-control" id="InputTelefone" placeholder="Telefone" name="telefone">
      <label for="select" >Estado</label>
      <select class="form-control" id="selectEstado" name="estado">
        <option>Ativo</option>
        <option>Não Ativo</option>
      </select>

      <label for="selectTipo"> Tipo de utilizador </label>
      <select class="form-control" id="selectTipo" name="tipo">
        <option>Administrador do Sistema</option>
        <option>Professor</option>
        <option>Auxiliar</option>
      </select>

      <!-- Deve-se resfazer esta parte!!
      deve aparecer uma listagem das escolas e de seguida as turmas existentes,
      com checkbox's, para permitir que se consiga associar o professor a mais que
      uma turma. -->
      <label for="selectEscola"> Escola / Turma </label>
      <select class="form-control" id="selectEscola" name="escola">
        <option></option>
      </select>


      <!--###################################################################-->

    </div>
    <div class="form-group">
      <label for="inputFoto" >Foto:</label>
      <input type="file" id="inputFoto" name="file">
    </div>
    <div class="row">
      <div class="col-sm-6">
        <button id="buttonCancelar" type="reset" class="btn btn-lg btn-default btn-block btn-cancel">Cancelar</button>
      </div>
      <div class="col-sm-6">
        <button id="subProf" type="submit" class="btn btn-lg btn-success btn-block btn-created">Submeter</button>
      </div>
    </div>

  <!----></form>
  <!---->
</div>
