<div>
  <form role="form" method="POST" action="/teachers" enctype="multipart/form-data">
    <div class="form-group">
      <label for="exampleInputNome">Nome</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nome" name="nome">
      <label for="exampleInputTelefone">Telefone</label>
      <input type="text" class="form-control" id="exampleInputTelefone" placeholder="Telefone" name="telefone">
      <label for="exampleInputEmail">Email</label>
      <input type="text" class="form-control" id="exampleInputEmail" placeholder="Email" name="email">
    </div>

    <div class="form-group">
      <input type="file" id="exampleInputFile" name="file">
    </div>

    <button type="submit" class="btn btn-success btn_created">Create</button>
    <button class="btn btn-warning btn_cancel">Cancel</button>
  </form>
</div>
