<div>
  <nav class="navbar navbar-default ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" aria-expanded="false" href="/#">
          <span>
            <img src="../img/letrinhas2.png" style='height:32px;'title="Projeto final de Engª Informática de:
            Alexandre Carvalho, aluno nº14922
            Artur Gomes, aluno nº17262
            Tiago Fernandes, aluno nº17253

            ESTT-IPT-Tomar 2014/2015">
          </span>
          <label title="Pagina inicial">Letrinhas</label>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
              <a href="#tests" aria-expanded="false" title="Ver testes">
                <img src="../img/testeTexto.png" style='height:32px;'>
                Testes
              </a>
          </li>
          <li>
              <a href="#teachers"  style="color: #80FF80;" aria-expanded="false">
                <img src="../img/docentes.png" style='height:32px;'>
                Professor/es
              </a>
          </li>
          <li>
              <a href="#schools" aria-expanded="false" title="Ver escolas">
                <img src="../img/escola1.png" style='height:32px;'>
                Escolas
              </a>
          </li>
          <li>
              <a href="#students" aria-expanded="false" title="Ver alunos">
                <img src="../img/alunos.png" style='height:32px;'>
                Alunos
              </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#MenuPrincipal" aria-expanded="false" role="button" title="Voltar ao menu principal">
              voltar
              <img src="../img/voltar.png" style='height:32px;'>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

    <div id="teachersPanel" class="panel panel-default col-md-2" align="center">
    <div class="panel-body " text-align="center" style="height:600px;">
      <div >Professores: <span id="teachersBadge"class="badge"></span>
      </div>
      <hr>
      <div >
        <input id="profProcurar" type="texto" class="form-control" placeholder="Procurar">
      </div>


      <hr>
      <span>
        <span class="glyphicon glyphicon-filter"></span>
        Filtrar por:
        <img src="../img/inConstruction.jpg" style='height:25px;'>
      </span>

      <!-- Split button -->
      <div class="btn-group" >
        <button type="button" class="btn btn" style="width:100px">Escola</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">

          <li><a>Escola xpto</a></li>

        </ul>
      </div>
      <br>
      <br>
      <div>
      </div>
      <hr>

      <button id="btnTeachersNew" class="btn btn-success" style="font-size:12px"><span class="glyphicon glyphicon-plus" style="color:#00ff00;"></span>
        Novo professor
      </button>
    </div>
  </div>
  <div id="teachersContent" class=" panel-body col-md-5" align=center style="max-height:600px; overflow:auto">
    <img src="../img/page-loader.gif" style='height:200px;'>
  </div>
  <div id="teachersPreview" class="col-md-5" align="center" style="">

  </div>
  <div class="col-sm-1" style="position:fixed; left:0px; top:15px;">
    <img src="../img/estt.png" style="height:40px">
  </div>
</div>
