<div>
  <div class="topcoat-navigation-bar">
          <div class="topcoat-navigation-bar__item center full">
            <h1 align="center" class="topcoat-navigation-bar__title">Inserção Teste Texto</h1>

          </div>
        </div>
    
    
    <div class="form-group">
      <label for="perg">Pergunta:</label>
      <input type="text" class="form-control" id="perg">
        <label for="tit">Titulo:</label>
      <input type="text" class="form-control" id="tit">
    </div>
        
      <div class="form-group">
          <label for="comment">Inserir Texto:</label>
          <textarea class="form-control" rows="10" id="insTexto"></textarea>
      </div>
      
      <!-- Teste -->
      
       <div class="row">
        <div class="col-sm-4">
             <div class="form-group">
               <label for="select" class="col-lg-3 control-label">Disciplina:</label>
                  <div class="col-lg-7">
                    <select class="form-control" id="select">
                      <option>Português</option>
                      <option>Inglês</option>
                    </select>
            </div>
      
        </div>
        </div>
           
        <div class="col-sm-4">
          <div class="form-group">
              <label for="select" class="col-lg-3 control-label">Grau Escolar:</label>
                  <div class="col-lg-7">
                    <select class="form-control" id="select">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
            </div>
      </div>
     </div>
        <div class="col-sm-4">
           <div class="form-group">
              <label >Ficheiro de som do Professor:</label>
                <span class="btn btn-default btn-file"> <input type="file"></span>
            </div>
              
        </div>
           
           <div class="row">
        <div class="col-sm-6">
             <button id="buttonCancelar" type="reset" class="btn btn-lg btn-default btn-block btn-cancel">Cancelar</button>
        </div> 
        <div class="col-sm-6">
           <button type="submit" class="btn btn-lg btn-success btn-block btn-created">Submeter</button>
      </div>
     </div>
          
  </div>
    
    
  </div>

    
    
    
    
    
<!--    
    
    
    
    
    
    
    
<div>
    <legend>Dados Professor</legend>
  <form role="form" method="POST" action="/teachers" enctype="multipart/form-data">
    <div class="form-group">
      <label for="InputNome" >Nome</label>
      <input type="text" class="form-control" id="InputEmail1" placeholder="Nome" name="nome">
      <label for="InputEmail">Email</label>
      <input type="text" class="form-control" id="InputEmail" placeholder="Email" name="email">
        <label for="InputPin">Pin</label>
        <input type="pin" class="form-control" id="inputPin" placeholder="4 dígitos">
        <span class="help-block">(acesso aplicação móvel) </span>
        <label for="InputTelefone">Telefone</label>
      <input type="text" class="form-control" id="InputTelefone" placeholder="Telefone" name="telefone">
        <label for="select" >Estado</label>
      
        <select class="form-control" id="select">
          <option>Ativo</option>
          <option>Não Ativo</option>
        </select>
      </div> 
    <div class="form-group">
         <label for="file" >Foto:</label>
      <input type="file" id="InputFile" name="file">
    </div>
      
      
  </form>
</div>

</div>
-->