<section>
  <div class="globalcontent">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" aria-expanded="false" href="/#">
          <span>
            <img src="../img/letrinhas2.png" style='height:32px;'title="Projeto final de Engª Informática de:
            Alexandre Carvalho, aluno nº14922
            Artur Gomes, aluno nº17262
            Tiago Fernandes, aluno nº17253

            ESTT-IPT-Tomar 2014/2015">
          </span>
          <label title="Pagina inicial">Letrinhas</label>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
              <a href="#tests" style="color: #80FF80;" aria-expanded="false">
                <img src="../img/testeTexto.png" style='height:32px;'>
                Testes
              </a>
          </li>
          <li>
              <a href="#teachers" aria-expanded="false" title="Ver funcionários">
                <img src="../img/docentes.png" style='height:32px;'>
                Professor/es
              </a>
          </li>
          <li>
              <a href="#schools" aria-expanded="false" title="Ver escolas">
                <img src="../img/escola1.png" style='height:32px;'>
                Escolas
              </a>
          </li>
          <li>
              <a href="#students" aria-expanded="false" title="Ver alunos">
                <img src="../img/alunos.png" style='height:32px;'>
                Alunos
              </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#MenuPrincipal" aria-expanded="false" role="button" title="Voltar ao menu principal">
              voltar
              <img src="../img/voltar.png" style='height:32px;'>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <div id="testsPanel" class="panel panel-default col-md-2" >
    <div class="panel-body " style="height:600px;">

      <div align="center">Testes: <span id="testBadge"class="badge"></span></div>
      <hr>
      <div >
        <input id="testProcurar" type="texto" class="form-control" placeholder="Procurar">
      </div>
      <hr>

      <span>
        <span class="glyphicon glyphicon-filter"></span>
        Filtrar por:
        <img src="../img/inConstruction.jpg" style='height:25px;'>
      </span>
      <br>

      <!-- Split button Tipo-->
      <div class="btn-group" >
        <button id="testFiltTipo" type="button" class="btn btn-sm" style="width:100px">Tipo</button>
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a id="tipText">
              <span>
                <img src="../img/testeTexto.png" style='height:32px;'>
              </span>
              Texto
            </a>
          </li>
          <li>
            <a id="tipList">
              <span>
                <img src="../img/testLista.png" style='height:32px;'>
              </span>
              Lista de palavras
            </a>
          </li>
          <li>
            <a id="tipMultim">
              <span>
                <img src="../img/testMul.png" style='height:32px;'>
              </span>
              Multimédia
            </a>
          </li>
          <li>
            <a id="tipInterp">
              <span>
                <img src="../img/testInterpretacao.png" style='height:32px;'>
              </span>
              Interpretação
            </a>
          </li>
          <li class="divider"></li>
          <li><a id="tipTudo">Todos</a></li>
        </ul>
      </div>
      <br>
      <br>

      <!-- Split button Ano escolar-->
      <div class="btn-group">
        <button type="button" class="btn btn-sm" style="width:100px">Ano Escolar</button>
        <button id="testFiltAno" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a id="ano01">1º ano</a></li>
          <li><a id="ano02">2º ano</a></li>
          <li><a id="ano03">3º ano</a></li>
          <li><a id="ano04">4º ano</a></li>
          <li><a id="ano05">5º ano</a></li>
          <li><a id="ano06">6º ano</a></li>
          <li><a id="ano07">7º ano</a></li>
          <li><a id="ano08">8º ano</a></li>
          <li><a id="ano09">9º ano</a></li>
          <li><a id="ano10">10º ano</a></li>
          <li><a id="ano11">11º ano</a></li>
          <li><a id="ano12">12º ano</a></li>
          <li><a id="anoAll">Todos</a></li>
        </ul>
      </div>
      <br>
      <br>

      <!-- Split button Disciplna-->
      <div class="btn-group" >
        <button type="button" class="btn btn-sm" style="width:100px">Disciplina</button>
        <button id="testFiltDiscip" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a id="disPortugues" >
              <span>
                <img src="../img/portugues.png" style='height:32px;'>
              </span>
              Português
            </a>
          </li>
          <li>
            <a id="disInges" >
              <span>
                <img src="../img/ingles.png" style='height:32px;'>
              </span>
              Ingês
            </a>
          </li>
          <li>
            <a id="disInges" >
              <span>
                <img src="../img/outroLinguas2.png" style='height:32px;'>
              </span>
              Outra Língua
            </a>
          </li>
          <li>
            <a id="disEstMeio" >
              <span>
                <img src="../img/estudoMeio.png" style='height:32px;'>
              </span>
              Estudo do Meio
            </a>
          </li>
          <li>
            <a id="disMat" >
              <span>
                <img src="../img/mate.png" style='height:32px;'>
              </span>
              Matemática
            </a>
          </li>
          <li>
            <a id="disOutra" >
              <span>
                <img src="../img/outro.png" style='height:32px;'>
              </span>
              Outra..
            </a>
          </li>

          <li class="divider"></li>
          <li><a id="disTudo">Todos</a></li>
        </ul>
      </div>
      <br>
      <br>

      <!-- Split button Cronologia-->
      <div class="btn-group">
        <button type="button" class="btn btn-sm" style="width:100px">Cronologia</button>
        <button id="testFiltCrono" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a id="cronoD">Hoje</a></li>
          <li><a id="cronoS">Ultima Semana</a></li>
          <li><a id="cronoM">Ultimo Mês</a></li>
          <li class="divider"></li>
          <li><a id="cronoAll">Todos</a></li>
        </ul>
      </div>
      <br>
      <br>
      <label class="btn btn-info" style="color:#aaeeaa">Só os meus: <input type="checkbox" id="myne" val="0"></label>
      <hr>
      <button id="btnTestNew" class="btn btn-success" style="font-size:12px"><span class="glyphicon glyphicon-plus" style="color:#00ff00;"></span>
        Criar novo teste
      </button>
    </div>
  </div>
  <div id="testsContent" class=" panel-body col-md-5" align=center style="max-height:600px; overflow:auto">
    <img src="../img/page-loader.gif" style='height:200px;'>

  </div>
  <div id="testsPreview" class="col-md-5" align="center" >
    Preview...
  </div>

  <!-- MODAL para escolher o tipo de teste a criar -->
  <div class="modal fade" id="myModalTest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">
            <img src="../img/letrinhas2.png" style="height:50px">
            Escolha o tipo de teste que quer criar.</h3>
        </div>
        <div class="modal-body" >
           <div align="center">
             <button id="btnTexto" type="button" style="height:50px; width:200px; background-color: #53BDDC; color: #ffffff;" class="btn btn-lg " >
               <img src="../img/testeTexto.png"  style="height:25px;" >
               Texto
             </button>
             <button id="btnLista" type="button" style="height:50px; width:200px;background-color: #53BDDC; color: #ffffff;" class="btn btn-lg " >
               <img src="../img/testLista.png"  style="height:25px;" >
               Lista de Palavras
             </button>
             <p></p>
             <button id="btnMult" type="button" style="height:50px; width:200px; background-color: #53BDDC; color: #ffffff;" class="btn btn-lg " >
               <img src="../img/testMul.png"  style="height:25px;" >
               Multimédia
             </button>
             <button id="btnInterp" type="button" style="height:50px; width:200px; background-color: #53BDDC; color: #ffffff;" class="btn btn-lg " >
               <img src="../img/testInterpretacao.png"  style="height:25px;" >
               Interpretação
             </button>

           </div>
        </div>
        <div class="modal-footer" style="background-color: #53BDDC;">
          <button id="btnTesteCriar" type="button" class="btn btn-success btn-conf btn_mine-MediumLarge" style="visibility:hidden">Criar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ########################################### -->
  </div>
  <div class="col-sm-1" style="position:fixed; left:0px; top:15px;">
    <img src="../img/estt.png" style="height:40px">
  </div>
</section>
