<div>
  <div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
      <h1 align="center" class="topcoat-navigation-bar__title">Criação de Teste de Texto</h1>
    </div>
  </div>


  <div class="form-group">
    <label for="tit">Titulo:</label>
    <input type="text" class="form-control" id="tit">
    <label for="perg">Pergunta:</label>
    <input type="text" class="form-control" id="perg">
  </div>

  <div class="form-group">
    <label for="comment">Inserir Texto:</label>
    <textarea class="form-control" rows="10" id="insTexto"></textarea>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="select" class="col-lg-3 control-label">Disciplina:</label>
        <div class="col-lg-7">
          <select class="form-control" id="select">
            <option value=0 >Português</option>
            <option value=1 >Inglês</option>
            <option value=2 >Matemática</option>
            <option value=3 >Estudo do meio</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label for="select" class="col-lg-3 control-label">Grau Escolar:</label>
        <div class="col-lg-7">
          <select class="form-control" id="select">
            <option value=0 >1º ano</option>
            <option value=1 >2º ano</option>
            <option value=2 >3º ano</option>
            <option value=3 >4º ano</option>
          </select>
        </div>
      </div>
     </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label >Ficheiro de som do Professor:</label>
        <span class="btn btn-default btn-file"> <input id="textFile" type="file"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <button id="buttonCancelar" type="reset" class="btn btn-lg btn-default btn-block btn-cancel">Cancelar</button>
      </div>
      <div class="col-sm-6">
        <button type="submit" class="btn btn-lg btn-success btn-block btn-created">Submeter</button>
      </div>
    </div>

  </div>
</div>
